.hero-background-container{
  height: 240px;
  width: 100vw;
  background-image: url('/hero_background.jpeg');
  object-fit: fill;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 24px 0px;
  position: relative;
}


.title{
   color: rgb(74, 69, 69);
   font-family: sans-serif;
   font-weight: 1000;
   font-size: 5vw;
   text-transform: capitalize;
}

.tag-line{
  font-size: 2vw;
}


@media (max-width: 600px) {
   .hero-background-container{
  height: 160px;
}
   .title{
    font-size: 8vw;
   }
   .tag-line{
    font-size: 4vw;
   }
}


@media (min-width: 601px) and (max-width: 1024px) {
    
   .hero-background-container{
  height: 200px;
}

     .title{
    font-size: 8vw;
   }
   .tag-line{
    font-size: 4vw;
   }
}
