.container{
  margin-top: 16px;
  font-family: sans-serif;
  color: rgb(4, 9, 113);

}

.subcontainer{
  display: flex;
  gap: 50px;
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 24px;
}


.card {
  border-radius: 50px;
background: #e0e0e0;
box-shadow:  22px 22px 45px #a8a7a7,
             -22px -22px 45px #ffffff;
}

.image{
  height: 240px;
  width: 240px;
}

.img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.cardDetails{
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading{
   font-family: sans-serif;
   background-color: rgb(227, 229, 229);
   color: rgb(83, 84, 82);
   text-transform: capitalize;
   font-weight: 800;
   font-size: 4vw;
   padding: 8px;
   display: flex;
   justify-content: center;
}